<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <div id="body">
        <section class="content-wrapper">
            @RenderBody()
        </section>
    </div>
    @Scripts.Render("~/bundles/jquery")
</body>
</html>
